---
layout: default
title: "首页"
tagline: "Home Page"
keywords: [PKM, markdown, git, msys2, 编程, .net, python, rust, opencascade, 船舶海工, 设计]
description: "个人笔记, 编程、设计、船舶专业等知识总结"
comments: false
id: home
---

{% include JB/setup %}
{% assign posts_num = 12 %}
<div class="row">
{% for g in site.JB.groups %}
    <article class="col-md-6 col-lg-4 p-2">
        <header>
            <h2>
                <a href="{{ g.path }}" title="{{g.disp}}分类文章">{{g.disp}}</a>
            </h2>
            <hr/>
        </header>
        <section>
            {% assign post_group = g.name %}
            {% include widgets/posts_collate2 %}
        </section>
        <footer>
            <a class="btn btn-sm btn-outline-primary float-xs-right" href="{{ g.path }}" rel="nofollow"
               title="查看更多本类文章">more ...</a>
        </footer>
    </article>{% endfor%}
</div>
