---
layout: default
title: "首页"
tagline: "Home Page"
keywords: [PKM, IT, Design, Life, 文档格式, 编程, linux, opencascade, wpf, c#, 科技前沿关注, 船舶海工, CAE, 设计]
description: "lileilei's 个人 PKM, lileilei's 个人笔记, 生活常识、知识、IT学习、编程学习、设计学习、船舶专业学习等的积累、总结"
comments: false
id: home
---

{% include JB/setup %}
{% assign posts_num = 12 %}
<div class="row">
    <article class="col-md-6 col-lg-4 p-2">
        <header>
            <h2>
                <a href="{{ site.JB.pkmcategories_path }}" title="PKM分类文章">PKM</a>
            </h2>
            <hr/>
        </header>
        <section>
            {% assign posts_category = 'PKM' %}
            {% include widgets/posts_collate2 %}
        </section>
        <footer>
            <a class="btn btn-sm btn-outline-primary float-xs-right" href="{{ site.JB.pkmcategories_path }}" rel="nofollow"
               title="查看更多本类文章">more ...</a>
        </footer>
    </article>
    <article class="col-md-6 col-lg-4 p-2">
        <header>
            <h2>
                <a href="{{ site.JB.itcategories_path }}" title="IT分类文章">IT</a>
            </h2>
            <hr/>
        </header>
        <section>
            {% assign posts_category = 'IT' %}
            {% include widgets/posts_collate2 %}
        </section>
        <footer>
                <a class="btn btn-sm btn-outline-primary float-xs-right" href="{{ site.JB.itcategories_path  }}" rel="nofollow"
                   title="查看更多本类文章">more ...</a>
        </footer>
    </article>
    <article class="col-md-6 col-lg-4 p-2">
        <header>
            <h2>
                <a href="{{ site.JB.designcategories_path }}" title="Design分类文章">Design</a>
            </h2>
            <hr/>
        </header>
        <section>
            {% assign posts_category = 'Design' %}
            {% include widgets/posts_collate2 %}
        </section>
        <footer>
                <a class="btn btn-sm btn-outline-primary float-xs-right" href="{{ site.JB.designcategories_path }}" rel="nofollow"
                   title="查看更多本类文章">more ...</a>
        </footer>
    </article>
    <article class="col-md-6 col-lg-4 p-2">
        <header>
            <h2>
                <a href="{{ site.JB.lifecategories_path }}" title="Life分类文章">Life</a>
            <hr/>
            </h2>
        </header>
        <section>
            {% assign posts_category = 'Life' %}
            {% include widgets/posts_collate2 %}
        </section>
        <footer>
                <a class="btn btn-sm btn-outline-primary float-xs-right" href="{{site.JB.lifecategories_path}}" rel="nofollow"
                   title="查看更多本类文章">more ...</a>
        </footer>
    </article>
</div>
