<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords | join: " ," }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="robots" content="all">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>{% if page.title %}{% if page.tagline == "Home Page" %} {{ site.title }} - {{ page.title }}{% else %} {{ page.title }}-{{ site.title}} {% endif %}{% else %} {{ site.title }} {% endif %}</title>
    <!-- Bootstrap core css and custom styles -->
    <link rel="stylesheet" href="/assets/widgets/bootstrap-4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.min.css">
    {% unless page.id == empty %}<link rel="stylesheet" href="{{ ASSET_PATH }}/css/toc.min.css">{% endunless %}
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.min.css">
</head>
<body>
    <header id="header" style="background: #373c3a">
        <div class="container pr-0">
            <div class="clearfix navbar-dark">
                <button class="navbar-toggler float-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-header"></button>
                <a class="navbar-brand text-muted" href="/">Home</a>
                <nav class="float-xs-right hidden-xs-down">
                    <a href="{{ site.JB.about_path }}" class="text-muted" rel="nofollow" title="关于我">关于</a>
                    <span class="text-muted">/</span>
                    <a href="{{ site.JB.messages_path }}" class="text-muted" rel="nofollow" title="留言板">留言板</a>
                </nav>
            </div>
            <section class="text-xs-center hidden-xs-down pt-1 pb-2 text-white">
                <script>document.write("<h2>If you do not leave me</h2><h2> I will be by your side until the end.</h2>");</script>
            </section>
        </div>
    </header>
    <section id="nav-main" style="background: #242424">
        <div class="container">
            <div class="row">
                <nav class="collapse navbar-toggleable-xs col-sm-8" id="nav-header">
                    <ul class="nav navbar-nav navbar-dark">
                        {% capture home_url %}{{ HOME_PATH | append: '/index.html' | replace: '//', '/' }}{% endcapture %}
                        <li class="nav-item {% if page.id == "home" %} active {% endif %}">
                            <a class="nav-link" href="/" rel="nofollow">Home</a>
                        </li>
                        <li class="nav-item {% if page.id == 'pkm' %} active {% endif %}">
                            <a class="nav-link" href="{{ site.JB.pkmcategories_path }}" rel="nofollow">PKM</a>
                        </li>
                        <li class="nav-item {% if page.id == 'it' %} active {% endif %}">
                            <a class="nav-link" href="{{ site.JB.itcategories_path }}" rel="nofollow">IT</a>
                        </li>
                        <li class="nav-item {% if page.id == 'design' %} active {% endif %}">
                            <a class="nav-link" href="{{ site.JB.designcategories_path }}" rel="nofollow">Design</a>
                        </li>
                        <li class="nav-item {% if page.id == 'life' %} active {% endif %}">
                            <a class="nav-link" href="{{ site.JB.lifecategories_path }}" rel="nofollow">Life</a>
                        </li>
                        <li class="nav-item {% if page.id == 'music' %} active {% endif %}">
                            <a class="nav-link" href="{{ site.JB.music_path }}" rel="nofollow">音乐</a>
                        </li>
                    </ul>
                </nav>
                <div class="float-sm-right col-sm-4 px-0">
                    <form id="search-form" class="input-group input-group-sm w-search" action="/pages/search.html">
                        <input id="query" type="text" name="s" class="form-control" placeholder="支持正则搜索">
                        <span class="input-group-btn"><button type="submit" class="btn btn-primary">搜&nbsp;索</button></span>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <main id="main" class="container py-1">
        {% if is_production %} {% if page.content contains 'code' %} {{ content }} {% else %} {{ content | strip_newlines | replace: "                      ", " " | replace: "     ", " " | replace: "   ", " " | replace: "  ", " " }} {% endif %}
         {% else %} {{ content}} {% endif %}
    </main>
    <section id="nav-bottom" class="container">
        <hr class="my-1" />
        <nav class="row text-xs-center db-footer-links px-3">
            <a class="col-xs-4" href="{{ site.JB.links_path }}" rel="nofollow">友情链接</a>
            <a class="col-xs-4" href="{{ site.JB.messages_path }}" rel="nofollow">留言板</a>
            <a class="col-xs-4" href="{{ site.JB.about_path }}" rel="nofollow">关&nbsp;于</a>
        </nav>
        <hr class="my-1" />
    </section>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-xs-center"><img src="/assets/qr.png" style="max-width: 200px;" alt="二维码" /></div>
                <div class="col-md-8">
                    <p><small>{% include widgets/statcounter %}</small></p>
                    <p><small>&copy; 2013-{{ site.time | date: '%Y' }} <a href="http://weibo.com/hustlei" target="_blank" title="Author's Sina Wibo Main Page">lileilei</a> All Rights Reserved.</small></p>
                    <p><small>
                        本站基于<a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>和<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>构建.</small></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script defer src="/assets/widgets/jquery-3.1/js/jquery-3.1.1.min.js"></script>
    <script defer src="/assets/widgets/tether-1.4/js/tether.min.js"></script>
    <script defer src="{{ ASSET_PATH }}/style.js"></script>
    <script defer src="/assets/widgets/bootstrap-4.0/js/bootstrap.min.js"></script>
    {% if page.id == "search" %}<script defer src="/assets/widgets/search_box.js"></script> {% endif %}
    {% if page.content contains "$" %} {% include widgets/mathjax %} {% endif %}
    {% include widgets/baidu_share %}
    {% include widgets/back_top_button %}
{% if is_production %}<script>
(function(){
  var bp = document.createElement('script');
  var curProtocol = window.location.protocol.split(':')[0];
  if (curProtocol === 'https') {bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';}
  else {bp.src = 'http://push.zhanzhang.baidu.com/push.js';}
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(bp, s);
})();
</script>{% endif %}
</body>
</html>
