<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: " ," }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="robots" content="all">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title>
        {% if page.title %}
        {% if page.tagline == "Home Page" %} {{ site.title }} - {{ page.title }}
        {% else %} {{ page.title }}-{{ site.title}} {% endif %}
        {% else %} {{ site.title }} {% endif %}
    </title>
    <!-- Bootstrap core css and custom styles -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap-4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/mystyle.css">
</head>
<body>
    <header id="top" class="jumbotron p-1">
        <div class="container px-2">
            <nav class="navbar navbr-light hidden-sm-down">
                <div class="float-xs-right">
                    <a href="{{ site.JB.messages_path }}" rel="nofollow" title="留言板">留言板</a>
                    <span>/</span>
                    <a href="{{ site.JB.about_path }}" rel="nofollow" title="关于我">关于</a>
                </div>
            </nav>
            <div class="text-xs-center hidden-xs-down my-2">
                <h2>If you do not leave me</h2>
                <h2> I will be by your side until the end.</h2>
            </div>
            <!-- Navigation Bar -->
            {% capture home_url %}{{ HOME_PATH | append: '/index.html' | replace: '//', '/' }}{% endcapture %}
            <nav id="navbar" class="navbar navbr-light">
                <span class="nav navbar-nav">
                    <a class="nav-item nav-link" {% if page.url == home_url %} class="active" {% endif %}
                       href="/" rel="nofollow">Home</a>
                    <a class="nav-item nav-link" {% if page.url == site.JB.pkmcategories_path %} class="active" {% endif %}
                       href="{{ site.JB.pkmcategories_path }}" rel="nofollow" title="PKM">PKM</a>
                    <a class="nav-item nav-link" {% if page.url == site.JB.itcategories_path %} class="active" {% endif %}
                       href="{{ site.JB.itcategories_path }}" rel="nofollow" title="IT">IT</a>
                    <a class="nav-item nav-link" {% if page.url == site.JB.designcategories_path %} class="active" {% endif %}
                       href="{{ site.JB.designcategories_path }}" rel="nofollow" title="DESIGN">Design</a>
                    <a class="nav-item nav-link" {% if page.url == site.JB.lifecategories_path %} class="active" {% endif %}
                       href="{{ site.JB.lifecategories_path }}" rel="nofollow" title="LIFE">Life</a>
                    <a class="nav-item nav-link" {% if page.url == site.JB.music_path %} class="active" {% endif %}
                       href="{{ site.JB.music_path }}" rel="nofollow" title="音乐">音乐</a>
                </span>
            </nav>
            <form id="search-form" class="input-group input-group-sm float-md-right" style="width: 200px">
                <input id="query" type="text" class="form-control" placeholder="支持正则搜索">
                <span class="input-group-btn"><button type="submit" class="btn btn-secondary">search</button></span>
            </form>
        </div>
    </header>

    <div class="container px-3">
        <section id="main">
            {{ content }}
        </section>

        <footer id="bottom" class="footer m-1">
            <hr class="my-1"/>
            <div class="row text-xs-center db-footer-links px-3">
                <a class="col-md-4" href="{{ site.JB.links_path }}" rel="nofollow">友情链接</a>
                <a class="col-md-4" href="{{ site.JB.messages_path }}" rel="nofollow">留言板</a>
                <a class="col-md-4" href="{{ site.JB.about_path }}" rel="nofollow">关于我</a>
            </div>
            <hr class="my-1" />
            <div class="row">
                <div class="col-md-3 text-xs-center"><img src="/assets/qr.png" style="max-width: 200px;" alt="扫我浏览" /></div>
                <div class="col-md-9">
                    <p>
                        本站基于<a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
                        和<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>构建.
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#666666">{% include widgets/statcounter %}</font>
                    </p>
                    <p>&copy; 2013-{{ site.time | date: '%Y' }} <a href="http://weibo.com/hustlei" target="_blank" title="Author's Sina Wibo Main Page">lileilei</a> All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" defer src="{{ ASSET_PATH }}/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" defer src="{{ ASSET_PATH }}/bootstrap-4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" defer src="/assets/js/search_box.js"></script>

    {% include widgets/baidu_share %}
    {% include widgets/back_top_button %}
</body>
</html>
