<section id="content">
  <article class="page">
    {% if page.showtitle != false %}
    <header class="py-1">
      <h1>{{ page.title }}{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
    </header>
    {% endif %}
    <section>
      {{ content }}
    </section>

  </article>
</section>


<section id="comments">
  {% include JB/comments %}
</section>
{% if page.url == site.JB.messages_path %}
<section>
<p><br/><br/><br/><br/></p>
    {% include widgets/recent_visitors %}
</section>
<section>
<p><br/><br/></P>
    {% include widgets/recent_comments %}
</section>
{% endif %}