<nav id="nav-crumb">
<ol class="breadcrumb px-0" style="background:transparent">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {% if page.group %}
  <li class="breadcrumb-item"><a href="/pages/{{page.group | downcase}}categories.html">{{ page.group }}</a></li>
  {% endif %}
  {% if page.categories != empty %}
  <li class="breadcrumb-item"><a href="/pages/{{page.group | downcase}}categories.html#{{ category[0] }}-ref">分类</a></li>
  {% endif %}
  <li class="breadcrumb-item active">正文</li>
</ol>
</nav>

<article id="post">
  <header>
    <h1><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
    <p class="text-muted">
       <small>{{ page.date | date_to_long_string }}</small>
    </p>
  </header>

  <section>
    {{ content }}
  </section>

  <footer class="text-muted">
    <hr/>
    {% if page.license != false %}
    <section id="license">
      本作品由 <a href="{{  site.JB.about_path }}" rel="nofollow">{{ site.author.name }}</a> 创作，采用
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" title="查看协议详细信息" target="_blank">CC BY-NC-SA 3.0 许可协议</a>进行许可。
    </section>
    {% endif %}
    <section id="pagination" class="btn-group my-1" role="group">
      {% if page.previous %}<a type="button" class="btn btn-sm btn-secondary" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇</a>
      {% else %}<a type="button" class="btn btn-sm btn-secondary disabled">上一篇</a>
      {% endif %}
      {% if page.categories == empty %}<a type="button" class="btn btn-sm btn-secondary" href="/pages/{{ page.group | downcase }}categories.html" rel="nofollow">分类目录</a>
      {% else %}<a type="button" class="btn btn-sm btn-secondary" href="/pages/{{ page.group | downcase }}categories.html#{{ page.categories[0] }}-ref" rel="nofollow">分类目录</a>
      {% endif %}
      <a type="button" class="btn btn-sm btn-secondary" href="{{ site.JB.tags_path }}" rel="nofollow">标签目录</a>
      <a type="button" class="btn btn-sm btn-secondary" href="{{ site.JB.archive_path }}" rel="nofollow">日期目录</a>
      {% if page.next %}<a type="button" class="btn btn-sm btn-secondary" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇</a>
      {% else %}<a type="button"  class="btn btn-sm btn-secondary disabled">下一篇</a>
      {% endif %}
    </section>
    <ul class="tag_box">
      {% unless page.categories == empty %}
        <li><i>分类：</i></li>{% assign categories_list = page.categories %}
        <li><a href="/pages/{{ page.group }}categories.html#{{ page.categories[0] }}-ref">{{ page.categories | join: "/" }} <span class="tag tag-pill tag-default">{{ site.categories[page.category].size }}</span></a></li>
      {% endunless %}
      {% unless page.tags == empty %}
        <li style="margin-left: 30"><i>标签：</i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      {% endunless %}
  </ul>
  </footer>

</article>

<section id="comments">
  {% include widgets/uyan_comment %}
</section>
