---
layout: custom
title: "Girls"
tagline: 
description: "girl, beauty"
id: girls
comments: false
---
    <section id="nav-main" style="background: #242424">
        <div class="container hidden-sm-up">
                <nav class="collapse navbar-toggleable-xs" id="nav-header">
                    <ul class="nav navbar-nav navbar-dark">
                        {% capture home_url %}{{ HOME_PATH | append: '/index.html' | replace: '//', '/' }}{% endcapture %}
                        <li class="nav-item {% if page.id == "home" %} active {% endif %}">
                            <a class="nav-link" href="/" rel="nofollow">Home</a>
                        </li>
                        <li class="nav-item {% if page.id == 'girls' %} active {% endif %}">
                            <a class="nav-link" href="/my/girls.html" rel="nofollow">Girls</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </section>

    <main id="main" class="container py-1">
        <div class="row" id="girls">
        </div>
            <script src="js/glist.js"></script>
            <script src="js/gcard.js"></script>
    </main>

