---
layout: page
title: 关于我
header: Post Archive
group: navigation
comments: false
---

{% include JB/setup %}

<h2>个人简介</h2>
<ul>
<li>船舶与海洋工程工程师</li>
<li>致力于船舶、游艇设计</li>
<li>业余喜欢编程、linux etc.</li>
<li>从2013年开始整理个人知识，2014将个人文档作为备忘放在github上</li>
<li>stay hungry! stay foolish</li>
</ul>
<h2>个人资料汇总</h2>
<ol>
<li>My新浪微博：<a target="__blank" href="http://weibo.com/hustlei">http://weibo.com/hustlei</a> </li>
<li>My优酷：<a target="__blank" href="http://i.youku.com/hustlei">http://i.youku.com/hustlei</a></li>
<li>My邮箱：<a href="mailto:hustlei@sina.cn">发邮件给我</a></li>

</ol>

<h2>微博墙</h2>

{% include widgets/weiboxiu %}
