---
layout: page
title: Coding
header: Posts By Category
comments: false
id: coding
---

{% include JB/setup %}

<ul class="tag_box">
  {% assign categories_list = site.categories %}
  {% assign group = site.JB.groups[1].name %}
  {% assign path = site.JB.groups[1].path %}
  {% include widgets/group_categories_list %}
</ul>

{% for category in site.categories %}
  {% for page in category[1] %}
     {% if page.group == site.JB.groups[1].name %}
       <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
        <ul>
         {% assign pages_list = category[1] %}
         {% include JB/pages_list %}
        </ul>
        {% break %}
     {% endif %}
        {% break %}
  {% endfor %}
{% endfor %}
