.highlight table td {
	padding: 5px
}

.highlight table pre {
	margin: 0
}

.highlight pre.highlight {
	padding: .5em
}

pre.highlight ::-moz-selection {
	background-color: #efefef
}

pre.highlight ::selection {
	background-color: #efefef
}

pre.highlight code ::-moz-selection,pre.highlight span ::-moz-selection {
	background-color: #efefef
}

pre.highlight code ::selection,pre.highlight span ::selection {
	background-color: #efefef
}

.highlight {
	background: #fff;
	color: #929292
}

.highlight .hll {
	background-color: #efefef
}

.highlight .c {
	color: #929292
}

.highlight .err {
	background: #c82829;
	color: #fff
}

.highlight .k {
	color: #8959a8
}

.highlight .l {
	color: #f5871f
}

.highlight .n {
	color: #929292
}

.highlight .o {
	color: #545454
}

.highlight .c1,.highlight .cm,.highlight .cp,.highlight .cs,.highlight .p {
	color: #929292
}

.highlight .gd {
	color: #c82829
}

.highlight .ge {
	font-style: italic
}

.highlight .gh {
	color: #545454;
	font-weight: 700
}

.highlight .gi {
	color: #718c00
}

.highlight .gp {
	color: #718c00
}

.highlight .gp,.highlight .gs,.highlight .gu {
	font-weight: 700
}

.highlight .gu {
	color: #3e999f
}

.highlight .kc,.highlight .kd {
	color: #8959a8
}

.highlight .kn {
	color: #3e999f
}

.highlight .kp {
	color: #4271ae
}

.highlight .kr {
	color: #8959a8
}

.highlight .kt {
	color: #eab700
}

.highlight .ld {
	color: #718c00
}

.highlight .m {
	color: #f5871f
}

.highlight .s {
	color: #718c00
}

.highlight .na,.highlight .nb {
	color: #4271ae
}

.highlight .nc,.highlight .no {
	color: #eab700
}

.highlight .nd {
	color: #3e999f
}

.highlight .ni {
	color: #545454
}

.highlight .ne {
	color: #c82829
}

.highlight .nf {
	color: #4271ae
}

.highlight .nl {
	color: #545454
}

.highlight .nn {
	color: #eab700
}

.highlight .nx {
	color: #4271ae
}

.highlight .py {
	color: #545454
}

.highlight .nt {
	color: #3e999f
}

.highlight .nv {
	color: #c82829
}

.highlight .ow {
	color: #3e999f
}

.highlight .w {
	color: #545454
}

.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo {
	color: #f5871f
}

.highlight .sb {
	color: #718c00
}

.highlight .sc {
	color: #545454
}

.highlight .sd {
	color: #929292
}

.highlight .s2 {
	color: #718c00
}

.highlight .se {
	color: #f5871f
}

.highlight .sh {
	color: #718c00
}

.highlight .si {
	color: #f5871f
}

.highlight .s1,.highlight .sr,.highlight .ss,.highlight .sx {
	color: #718c00
}

.highlight .bp {
	color: #545454
}

.highlight .vc,.highlight .vg,.highlight .vi {
	color: #c82829
}

.highlight .il {
	color: #f5871f
}