<div class="pagination">
    <ul>
      {% if page.categories == empty %}
        <li><a href="/pages/{{ page.group }}categories.html" title="文章分类列表">分类列表</a></li>
      {% else %}
        <li><a href="/pages/{{ page.group }}categories.html#{{ page.categories[0] }}-ref" title="文章分类列表">分类列表</a></li>
      {% endif %}
      <li><a href="{{ site.JB.tags_path }}" rel="nofollow" title="标签">tags标签</a></li>
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}" rel="nofollow">所有文档</a></li>
    </ul>
  </div>
 
<section id="content">
  <article class="post">

    <header>
      <h1>{{ page.title }}{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
    </header>

    <section>
      <div class="post-extra">
        <div class="pull-left">
          <span>{{ page.date | date_to_long_string }}</span>
        </div>
      </div>

      {{ content }}
      {% if page.license != false %}
      <footer>
        <p>
          本作品由 <a href="{{  site.JB.about_path }}" rel="nofollow">{{ site.author.name }}</a> 创作，采用
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" title="查看协议详细信息" target="_blank">CC BY-NC-SA 3.0 许可协议</a>
          进行许可。
        </p>
      </footer>
      {% endif %}
    </section>

  </article>
</section>

<section>

  <ul class="tag-box inline">
  {% unless page.categories == empty %}
    <li><i class="icon-large icon-folder-open"></i></li>
    {% assign categories_list = page.categories %}
    <li><a href="/pages/{{ page.group }}categories.html#{{ page.categories[0] }}-ref">
    		{{ page.categories | join: "/" }} <span>{{ site.categories[page.category].size }}</span>
    	</a></li>
  {% endunless %}

  {% unless page.tags == empty %}
    <li style="margin-left: 30"><i class="icon-large icon-tags"></i></li>
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
  {% endunless %}
  </ul>
  
  <div class="pagination">
    <ul>
      {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇</a></li>
      {% else %}
      <li class="prev disabled"><a>&larr; 上一篇</a></li>
      {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}" rel="nofollow">文章列表</a></li>
      {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &rarr;</a></li>
      {% else %}
      <li class="next disabled"><a>下一篇 &rarr;</a></li>
      {% endif %}
    </ul>
  </div>

</section>

<section id="comments">
  {% include JB/comments %}
</section>

